<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-else>Do you also see me?</p>

        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>

        <p v-show="show">Hidden</p>

        <button @click="show = !show">Switch</button>

        <hr>
        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ingredient}} - {{i}}</li>
        </ul>
        <hr>
        <template v-for="(ingredient, i) in ingredients">
            <h4>{{ingredient}}</h4>
            <p>{{i}}</p>
        </template>

        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{index}} {{key}}: {{value}}</div>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10">{{n}}</span>
        
    </div>






    <script>
        new Vue({
            el: '#app',
            data: {
                show: true,
                ingredients: ['asd', 'meat', 'fruit'],
                persons:[
                    {name:'Igor', age: 26, color:'red'},
                    {name:'Joe', age: 27, color:'blue'}
                ]
            }
        });
    </script>
</body>

</html>